<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="4.2.0">
<dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.github.macadmins.Nudge_macOS12</string>
	</array>
	<key>Label</key>
	<string>com.github.macadmins.Nudge_macOS12</string>
	<key>LimitLoadToSessionType</key>
	<array>
    	<string>Aqua</string>
	</array>
	<key>ProgramArguments</key>
	<array>
    	<string>/Applications/Utilities/Nudge.app/Contents/MacOS/Nudge</string>
	    <string>-json-url</string>
    	<string>https://raw.githubusercontent.com/PIT-Pro/thelibrary-public/main/Nudge/macOS13/com.github.macadmins.Nudge_macOS12.json</string>
    </array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
	</array>
</dict>
</plist>